<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title>帮助</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="format-detection" content="telephone=no" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta content="email=no" name="format-detection" />
	    
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">	    
	    
	    <link rel="stylesheet" type="text/css" href="css/style.css?v=9"/>
	    
	    <script type="text/javascript">
	    	
	    	window.onload=function(){
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
			}
	    </script>
	</head>
	<body style="background:#3a3a3a;">
		<article class="art_zcw">
			<h1>
				Hit使用手册
			</h1>
			<h2>
				一、Hit的由来
			</h2>
			<p class="p3">
				Hit是hiblock token的缩写，是金钱报（hiblock.com）官方发行在callchain公链上的token。Hit发行总量为100亿，其中35%将以挖矿的形式释放给用户，挖矿周期为两年，按月平均释放
			</p>
			<h2>二、如何获取Hit</h2>
			<p class="p3">
				Hit类似于网易星球的黑钻，获取他需要一定的算力才能挖到。那么如何才能获得算力挖取Hit呢？小编整理了以下几种途径。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. 邀请好友增加算力，每一位好友通过你的专属链接下载注册金钱报app将获得xx算力，最多15个人，超出15人以外送临时算力，活动结束后一个月将清零。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. 完成平台任务增加算力，比如实名认证、关注金钱报app等。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. 每日定时登录金钱报app增加算力，或者分享金钱报文章增加算力。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. 官方推出的其他增加算力的途径。</br>
			</p>
			<h2>
				三、使用Hit的正确姿势
			</h2>
			<p class="p3">
				Hit是金钱报发行在callchain公链上的官方token，但并不主张上二级市场炒作，Hit更像是现实生活中积分的外延。虽然不主张上二级市场炒作，但是Hit用其他方式体现它的价值。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.兑换实物礼品。我们将在app成熟之后推出Hit商城功能，用户可以在商城兑换限量的实物礼品，比如水果、书籍、电影票等。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.知识付费。我们后期将于区块链商学院—深创学院合作，持有Hit的用户仅需支付部分Hit即可深创学院推出的付费课程。 </br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.代币互换。我们将与各个友好的项目方展开合作，按照一定的比例进行token互换，持有Hit的用户可以根据需要兑换成对应的项目方的token。目前已有一家交易所与我们达成了Hit与平台币的互换合作，敬请期待。</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.兑换广告服务。持有Hit的用户在官方给定的规则内，可以使用Hit兑换金钱报的广告服务，目前暂定100000hit = 一次广告推广</br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.投票。金钱报后期将推出项目背调和评级服务，用户可以根据自己的喜好支付Hit为项目投票，金钱报根据投票结果选择背调和评级项目并发布相应报告。</br>
			</p>
		</article>
	</body>
	<script src="js/bdtj.js"></script>
</html>
