*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

    font-family: "Microsoft YaHei",'Arial';
}
a{
    text-decoration: none;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
body,html{
    width: 100%;
}
body{
    background: #fff;
}
/*关于我们*/
/*.xy-about div{*/
    /*position: relative;*/
/*}*/
.xy-about div ul{
    padding: 1rem 0.5rem;
}
.xy-about div ul li img{
    width: 2rem;
    /*height: 2rem;*/
}
.xy-about div ul li:first-child{
    text-align: center;
}
.xy-about div ul li p{
    font-size: 0.25rem;
    line-height: 2;
    text-align: justify;
    text-indent:0.4rem;
}
p.xy-last{
    font-size: 0.2rem;
    text-align: center;
    /*padding-bottom: 0.2rem;*/
    position: fixed;
    bottom: 0.2rem;
    left: 40%;
}


/*邀请好友*/
.xy-addFriend div p{
    text-align: center;
    padding: 0.573rem 0;
}
.xy-addFriend div p img{
    width: 4rem;
}
.xy-addFriend div ul{
    background: url("../img/yaoqingtou.png") no-repeat ;
    background-position: center;
    background-size: 80% 100%;
    padding: 0.5rem 0 0.2rem;
    text-align: center;
    margin: 1.7rem 0 0;
}
.xy-addFriend div ul li.one{
    color: #974bdd;
    font-size: 0.5rem;
    font-weight: bolder;
}
.xy-addFriend div ul li.two{
    color: #562ce5;
    font-size: 1.6rem;
    font-weight: bolder;
    padding-bottom: 0.3rem;
}
.xy-addFriend div ul li.two input{
    border: none;
}
.xy-addFriend div ul li.three{
    padding-bottom: 0.64rem;
}
.xy-addFriend div ul li.three span{
    color: #fff;
    background: #8036c3;
    padding: 0.2rem 1rem;
    border-radius: 0.1rem;
    font-size: 0.45rem;
}
.xy-addFriend div ul li.four{
    color: #9879ff;
    font-size: 0.4rem;
    font-weight: bolder;
    margin-bottom: 0.2rem;
}
.xy-addFriend div ul li.five{
    margin: 0.2rem 0 0.5rem;
}
.xy-addFriend div ul li.five span{
    color: #999;
    /*margin: 0.2rem 0 0.5rem;*/
    padding: 0 0.8rem 0.5rem;
    font-size: 0.4rem;
    border-bottom: 0.02rem dashed #e0d9f0;
}
.xy-addFriend div ul li.six{
    padding-top: 0.5rem;
}
.xy-addFriend div ul li.six img{
    width: 2.613rem;
}
.xy-addFriend div ul li.last{
    color: #9879ff;
    font-size: 0.35rem;
    padding: 0.3rem 0 ;
}
.xy-copy{
    display:none;
    left: 50%;
    top:50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
.xy-copy p{
    padding: 0.25rem 1rem;
    color: #fff;
    background-color:rgba(128,54,195,0.5);
    border-radius: 0.02rem;
    font-size: 0.4rem;
}


/*收益*/
section.xy-profit{
    position: relative;
}
section div.imgb{
    position: relative;
    /*border: 1px solid red;*/
    top: 2.2rem;
    width: 90%;
    margin:0 auto;
    height: 5.4rem;
}
section div.imgb .imgsmb{
    position: relative;
    /*border: 1px solid yellow;*/
    top: 0;
    width: 90%;
    margin:0 auto;
    height: 4.2rem;
}
/*section div.imgb img{*/
    /*position: absolute;*/
    /*animation:mymove 1.5s ease-in-out 0s infinite alternate;*/
    /*-webkit-animation:mymove 1.5s ease-in-out 0s infinite alternate;*/
/*}*/
/*@keyframes mymove*/
/*{*/
    /*from {top:10%;}*/
    /*to {top:12%;}*/
/*}*/
/*@-webkit-keyframes mymove /!*Safari and Chrome*!/*/
/*{*/
    /*from {top:10%;}*/
    /*to {top:12%;}*/
/*}*/
p.xy-value{
    position: absolute;
    top:10.9rem;
    left: 0.3rem;
    color: #feffff;
    font-size: 0.42rem;
    letter-spacing: 0.03rem;
    /*background: #5a317f;*/
    /*padding: 0.15rem 0.3rem;*/
    /*border-radius: 0.25rem;*/
}
p.xy-tell{
    position: absolute;
    top:11.5rem;
    color: #fff;
    background: rgba(62,57,63,0.7);
    width: 100%;
    padding: 0 0.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    /*padding: 0.05rem 0.3rem;*/
}
p.xy-tell-content{
    position: absolute;
    top:11.6rem;
    color: #fff;
    left: 1.8rem;
}
p.xy-tell img{
    width: 0.4rem;
    position: relative;
    top:0.08rem;
    /*right: 0.02rem;*/
}
p.xy-help{
    position: absolute;
    top:1rem;
    right: 0.4rem;
    z-index: 1111;
}
p.xy-help img{
    width: 0.5rem;
}
p.xy-friend{
    text-align: center;
    /*padding: 4rem 0;*/
    padding: 3.5rem 0;
}
p.xy-friend a{
    background: url("../img/xy-border.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0.15rem 0.5rem;
    color: #b263ff;
    text-decoration: none;
    font-size: 0.35rem;
}
/*p.xy-friend a{*/
    /*color: #b263ff;*/
    /*text-decoration: none;*/
    /*font-size: 0.4rem;*/
    /*padding: 0.15rem 0.6rem;*/
    /*border-radius: 0.3rem;*/
    /*border: 0.06rem solid;*/
    /*border-left-color:#763ab3;*/
    /*border-right-color:#7b84f9;*/
    /*border-image: linear-gradient( #763ab3 , #7b84f9);*/
    /*border-image: -webkit-linear-gradient( #763ab3 , #7b84f9) 1 1;*/
    /*border-image: -moz-linear-gradient(#763ab3 , #7b84f9) 1 1;*/
    /*border-image: linear-gradient( #763ab3 , #7b84f9) 1 1;*/
/*}*/

div.xy-person{
    background: #fff;
    /*position: fixed;*/
    /*bottom:0;*/
    width: 90%;
    /*text-align: center;*/
    margin-left: 5%;
    /*border-radius: 0.1rem;*/
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
div.xy-person ul li:first-child{
    text-align: center;
    padding-bottom: 0.15rem;
    margin-bottom: 0.1rem;
}
div.xy-person ul li:first-child span{
    color: #7c32c1;
    font-weight: bolder;
    font-size: 0.6rem;
}
div.xy-person ul li:first-child b{
    color: #974bdd;
    font-size: 0.6rem;
}
div.xy-person ul{
    padding: 0.3rem;
    position: relative;
}
div.xy-person ul li:first-child{
    border-bottom: 0.15rem solid #7b06de;
    border-radius: 0.05rem;
}
/*div.xy-person ul span{*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*width: 0.1rem;*/
    /*height: 0.1rem;*/
    /*border-radius: 50%;*/
    /*background: #1f172f;*/
/*}*/
div.xy-person ul span.one{
    left: 0.5rem;
    top:0.5rem;
    display:inline-block;
    position:absolute;
    width:0.18rem;
    height:0.18rem;
    border-radius:50%;
    background:#1f172f;
}
div.xy-person ul span.two{
     right:0.5rem;
     top:0.5rem;
     display:inline-block;
     position:absolute;
     width:0.18rem;
     height:0.18rem;
     border-radius: 50%;
     background: #1f172f;
 }

div.xy-person ul table{
    width: 100%;
    text-align: center;
    padding: 0 0.1rem;
}
div.xy-person ul table tr th{
    text-align: center;
    font-weight: bolder;
    font-size: 0.42rem;
    /*border-bottom: 0.05rem dashed #dcdcdc;*/
    padding: 0.2rem 0;
}
div.xy-person ul table tr{
    /*padding: 0.2rem 0;*/
    border-bottom: 0.04rem dashed #dcdcdc;
    font-size: 0.38rem;
}
div.xy-person ul table tr td{
    padding: 0.28rem 0;
    /*border-bottom: 0.05rem dashed #dcdcdc;*/
    font-size: 0.38rem;
}
div.xy-person ul table tr:last-child{
    padding: 0.28rem 0 0;
    border-bottom: none;
}
div.xy-person ul table tr td img{
    width: 0.513rem;
}






@media screen and (max-width: 1024px){
    p.xy-big img{
        width: 0.726rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /*top: 3rem;*/
        top:78%;

        animation:mymove 1s ease-in-out 0s infinite alternate;
        -webkit-animation:mymove 1s ease-in-out 0s infinite alternate;
    }
    @keyframes mymove
    {
        from {top:77%;}
        to {top:79%;}
    }
    @-webkit-keyframes mymove /*Safari and Chrome*/
    {
        from {top:77%;}
        to {top:79%;}
    }
    p.xy-grow{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        top:101%;
        letter-spacing: 0.03rem;
    }
}

@media screen and (max-width: 768px){
    p.xy-big img{
        width: 0.726rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /*top: 3rem;*/
        top:79%;
    }

    @keyframes mymove
    {
        from {top:78%;}
        to {top:80%;}
    }
    @-webkit-keyframes mymove /*Safari and Chrome*/
    {
        from {top:78%;}
        to {top:80%;}
    }
    p.xy-grow{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        top:101%;
        letter-spacing: 0.03rem;
    }
}

@media screen and (max-width: 480px){
    p.xy-big img{
        width: 0.726rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        /*top: 3rem;*/
        top:79%;

        animation:mymove 1s ease-in-out 0s infinite alternate;
        -webkit-animation:mymove 1s ease-in-out 0s infinite alternate;
    }
    @keyframes mymove
    {
        from {top:78%;}
        to {top:80%;}
    }
    @-webkit-keyframes mymove /*Safari and Chrome*/
    {
        from {top:78%;}
        to {top:80%;}
    }

    p.xy-grow{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        top:103%;
        letter-spacing: 0.03rem;
    }
}