@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "微软雅黑"; 
}
a{
    text-decoration: none;
}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
body,html{
    width: 100%;
}
body{
    background: #fff;
}
.top_cas{
    width: 100%;
    height: 24px;
    position: fixed;
    left: 0;
    top: 0px;
    background: white;
    display: none;
    z-index: 99;
}
.article1{
    width: 100%;
    .content_art1{
        width: 100%;
        height: auto;
        .p3{
            display: block;
            padding:0.4rem 0.3rem;
            height: auto;
            width: 100%;
            font-size: 0.34rem;
            font-family: "PingFang SC","微软雅黑";
            color: #231815;
            line-height:0.45rem;
            text-align: justify;
            font-weight: bold;
        }
        .person{
            width: 100%;
            height: auto;
            padding: 0.2rem 0.3rem;
            border-top: solid 1px #f5f6f8;
            border-bottom: solid 1px #f5f6f8;
            display: flex;
            justify-content: space-between;
            .le_c{
                height: auto;
                display: flex;
                img{
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    
                }
                .you{
                    overflow: hidden;
                    margin-left: 0.28rem;
                    .p1{
                        margin-top: 0.27rem;
                        font-size: 0.35rem;
                        text-align: left;
                    }
                    .p2{
                        margin-top: 0.15rem;
                        font-size: 0.2rem;
                        color: #333;
                        font-family: "PingFang SC","微软雅黑";
                        text-align: left;
                    }
                }
            }
            .ri_c{
                height: 1.4rem;
                line-height: 1.4rem;
                display: flex;
                overflow: hidden;
                img{
                    width: 0.4rem;
                    height: 0.4rem;
                    margin-top: 0.46rem;
                }
                .p4{
                    color: #666666;
                    font-size: 0.28rem;
                    color: #666;
                    margin-left: 0.1rem;
                }
            }
        }
        .content{
            width: 100%;
            padding: 0.4rem 0.3rem;
            text-align: justify;
            font-family: "PingFang SC","微软雅黑";
            font-size: 16px;
            color: #333;
            line-height: 0.4rem;
            border-bottom: solid 1px #f5f6f8;
            p{
                text-indent:2em;
                word-break:break-all; 
                line-height: 1.8em;
                img{
                    max-width: 100%;
                    height: auto;
                    margin-left: -2em;
                }
                embed{
                    max-width: 100%;
                     margin-left: -2em;
                }
                img:not(:first-child){
                    margin-left: 0em;
                }
            }
            img{
                    max-width: 100%;
                    height: auto;
            }
            table{
                width: 100%;
                height: auto;
                display: block;
                tbody{
                    width: 100%;
                    height: auto;
                    display: block;
                    tr{
                        width: 100%;
                        height: auto;
                        display: block;
                        td{
                            width: 100%;
                            height: auto;
                            display: block;
                            word-break:break-all; 
                        }
                    }
                }
            }
            
        }
        .sm{
            width: 100%;
            height: auto;
            padding: 0.36rem 0.3rem;
            text-align: justify;
            font-family: "PingFang Sc","微软雅黑";
            font-size: 0.22rem;
            color: #666;
            font-weight: lighter;
            line-height: 0.35rem;
        }
    }
    
}
.ca_head{
    width: 100%;
    height: 0.8rem;
    position: relative;
    padding: 0 0.3rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   position: fixed;
    top: 0px;
    left: 0;
    background: white;
    z-index: 99;
    .p1{
        width: 100%;
        text-align: center;
        height: 100%;
        line-height: 0.8rem;
        font-size: 18px;
        font-family: "PingFang SC","微软雅黑";
        color: #333;
//      display: none;
    }
    .img2{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0.3rem;
        top: 0.2rem;
        cursor: pointer;
//      display: none;
    }
//  form{
//      width: auto;
//      height: auto;
//      display: block;
        input{
            padding-left: 0.2rem;
            height: 0.34rem;
            width: 6.24rem;
            border: none;
            outline: none;
            border-left: 2px solid #666;
            font-family: "PingFang SC","微软雅黑";
            margin-top: 0.23rem;
            line-height: 0.34rem;
            font-size: 16px;
            display: none;
        }
        input::-webkit-input-placeholder{
            color: #666;
            font-size: 0.24rem;
            font-weight: lighter;
        }
        input:-moz-placeholder{
            color: #666;
            font-size: 0.24rem;
             font-weight: lighter;
        }
        input::-moz-placeholder{
            color: #666;
            font-size: 0.24rem;
             font-weight: lighter;
        }
        input:-ms-input-placeholder{
            color: #666;
            font-size: 0.24rem;
             font-weight: lighter;
        }
//  }
    span{
            display: block;
            font-size: 16px;
            font-family: "PingFang SC","微软雅黑";
            color: #333;
            height: 100%;
            line-height: 0.8rem;
            display: none;
            cursor: pointer;
        }
    a{
        position: absolute;
        left: 0.2rem;
        top: 0.1rem;
        width: 0.6rem;
        height: 0.6rem;
        display: block;
        background: url(../img/fh.png) no-repeat 50% 50%;
        background-size: 90%;
    }
}
.art_zcw{
    width: 100%;
    height: auto;
    padding:0.6rem;
    margin-bottom: 50px;
    background: rgb(58,58,58);
    padding-top: 0.3rem;
    p{
        width: 100%;
        height: auto;
        text-indent: 2em;
        text-align: justify;
        font-size: 0.25rem;
        line-height: 0.5rem;
        color: white;
    }
    h2{
        width: 100%;
        height: auto;
        text-align: left;
        font-size: 0.4rem;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 20px;
        color: white;
    }
    h1{
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        text-align: center;
        font-size: 0.5rem;
        color: rgb(177,131,255);
    }
}
.article2{
    width: 100%;
    height: auto;
    background: #f5f6f8;
    overflow: hidden;
        margin-top: 0.8rem;
    ul{
        width: 100%;
        height: auto;
        margin-top: 0.1rem;
        background: #fff;
        .wh{
            width: 100%;
            height: auto;
            border-bottom: 1px solid #f5f6f8;
            padding: 0.38rem 0.3rem;
            a{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                .left{
                    height:0.65rem;
                    display: flex;
                    .img_zcw{
                        width: 0.35rem;
                        height: 0.35rem;
                        margin-top: 0.15rem;
                        
                    }
                    span{
                        display: inline-block;
                        height: 0.65rem;
                        line-height: 0.65rem;
                        font-size:16px;
                        font-family: "PingFang SC","微软雅黑";
                        color: #31393C;
                        margin-left:0.2rem;
                    }
                }
                .right{
                    width: 60%;
                    height: 0.65rem;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    .jz{
                        height: 0.65rem;
                        padding: 0.15rem 0;
                        display: flex;
                        img{
                                width: 0.25rem;
                            height: 0.25rem;
                                margin-top: 0.03rem;
                            margin-right: 0.05rem;
                            
                        }
                        span{
                            display: inline-block;
                            height: 0.3rem;
                            line-height: 0.3rem;
                            font-size:16px;
                            font-family: "PingFang SC","微软雅黑";
                            color: #333;
                            font-weight: bold;
                        }
                        .span1{
                            font-weight: lighter;
                        }
                    }
                    .bli{
                        width: 1.45rem;
                        height: 0.44rem;
                        line-height: 0.44rem;
                        text-align: center;
                        color: #fff;
//                      background: #ff3e3e;
                        border-radius: 0.13rem;
                        font-size:14px;
                        font-family: "PingFang SC","微软雅黑";
                        margin-top: 0.07rem;
                    }
                }
            }
        }
        .wh2{
            width: 100%;
            height: auto;
            border-bottom: 1px solid #f5f6f8;
            padding: 0.38rem 0.3rem;
            a{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                .left{
                    height:0.65rem;
                    display: flex;
                    position: relative;
                        width: 45%;
                    img{
                        width: auto !important;
                        height: 15px !important;
                        margin-top: 0.18rem;
                    }
                    span{
                        display: inline-block;
                        height: 0.65rem;
                        line-height: 0.65rem;
                        font-size:16px;
                        font-family: "PingFang SC","微软雅黑";
                        color: #31393C;
                        margin-left:0.2rem;
                    }
                    .span_zc1{
                        display: inline-block;
                        color: #999999;
                            font-size: 12px;
                        font-family: "PingFang SC","微软雅黑";
                        position: absolute;
                        left: 0.32rem;
                        bottom: -0.4rem;
                        width: 4rem;
                    }
                    .pair{
                            font-size: 14px;
                            float: right;
                    }
                    .bizhong{
                            width: 55%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                    }
                }
                .right{
                    width: 52%;
                    height: 0.65rem;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    .jz{
                        height: 0.65rem;
                        padding: 0.15rem 0;
                        display: flex;
                        span{
                            display: inline-block;
                            height: 0.3rem;
                            line-height: 0.3rem;
                            font-size:16px;
                            font-family: "PingFang SC","微软雅黑";
                            color: #333;
                        }
                        .span_zc{
                            color: #3aa4ff;
                        }
                    }
                    .bli{
                        width: 1.26rem;
                        height: 0.44rem;
                        line-height: 0.44rem;
                        text-align: center;
                        color: #fff;
                        background: #2176ff;
                        border-radius: 0.13rem;
                        font-size:14px;
                        font-family: "PingFang SC","微软雅黑";
                        margin-top: 0.07rem;
                    }
                }
            }
        }
    }
}
.neirong_down{
    width: 100%;
    height: auto;
    background: url(../img/back_down.png) no-repeat 50% 50%;
    overflow: hidden;
    position: relative;
    .fixed{
        width: 209px;
        background: url(../img/huihua.png) no-repeat 50% 50%;
        background-size:91% ;
        position: fixed;
        right: 0;
        top: 0;
        .content5{
            width: 100%;
            padding:10px 20px;
            position: relative;
            overflow: hidden;
            p{
                font-size: 12px;
                color: #000;
                padding: 5px 15px;
                margin-top: 17px;
                font-family: "微软雅黑";
                color: #333;
                line-height: 20px;
            }
//          .cha{
//              width: 40px;
//              height: 40px;
//              text-align: center;
//              line-height: 40px;
//              font-weight: bold;
//              font-size: 20px;
//              border: solid 3px #000000;
//              border-radius: 50%;
//              position: absolute;
//              left: -20px;
//              bottom: -20px;
//          }
        }
    }
    .logo_do{
        width: 100%;
        height: auto;
        padding: 0.15rem 0;
        text-align: center;
        .img1{
            width: 3.23rem;
            height: 1rem;
        }
        .img2{
            width: 2.33rem;
            height: 2.33rem;
        }
        a{
            width: auto;
            height: auto;
            img{
                width: 3rem;
                height: 0.75rem;
            }
        }
    }
    h2{
        color: white;
        font-size: 0.4rem;
        text-align: center;
        margin: 0.2rem 0;
    }
    div:nth-of-type(2){
        margin-top: 2rem;
    }
}
@media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio : 3){
    .top_cas{
        display: block;
    }
    .ca_head{
        top: 24px;
    }
    .article2 {
        margin-top: 1.4rem;
    }
    
    
}