<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="email=no" name="format-detection"/>
    <link rel="stylesheet" type="text/css" href="css/xy-index.css"/>

    <script type="text/javascript">
        window.onload = function () {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
        }
    </script>
</head>
<body>
<article class="xy-about">
    <div>
        <ul>
            <li><img src="img/xylogo.png" alt=""/></li>
            <li>
                <p>金钱报力图打造最权威专业的全球区块链资讯平台。以行业头条、深度洞察、闪电快讯、实时行情、项目精华拆解等维度提供全方位的区块链内容及数据服务，带您走进区块链的世界。</p>
            </li>
            <!--<li>-->
            <!--<p>【清华大学开设区块链公开课】据悉，清华大学x-lab开设了为期7-15周的区块链公开课，在该校正式注册的在读学生中将有200个报名者被选拔参与该课程。任常锐（IBM区块链研究总监）、杨东（人民大学法学院院长）、李林（火币网CEO）、曹寅（能源区块链首席展览官）等人出现在课程导师名单中。</p>-->
            <!--</li>-->
        </ul>

    </div>
</article>
<!--<p class="xy-last">版本号：1.1.1</p>-->
</body>
<script src="js/bdtj.js"></script>
</html>