<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title>下载客户端</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="format-detection" content="telephone=no" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta content="email=no" name="format-detection" />
	    
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">	    
	    
	    <link rel="stylesheet" type="text/css" href="css/style.css?v=6"/>
	    
	    <script type="text/javascript">
	    	
	    	window.onload=function(){
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
			}
	    </script>
	    <style type="text/css">
	    	body{
	    		width: 100%;
	    		height: 100%;
	    		background:url(img/back_down.png) repeat 50% 50%;
	    	}
	    </style>
	</head>
	<body>
		<article class="neirong_down">
			
			<div class="fixed">
				<div class="content5">
					<p>如果跳转链接无法打开，请复制到浏览器打开。</p>
					<!--<div class="cha">X</div>-->
				</div>
			</div>
			
			<div class="logo_do">
				<img src="img/logo_down.png" class="img1"/>
			</div>
			<h2>下载手机金钱报</h2>
			<div class="logo_do">
				<img src="img/code_do1.jpg" class="img2"/>
			</div>
			<div class="logo_do">
				<a href="https://fir.im/s4d8">
					<img src="img/iphone_do.png"/>
				</a>
			</div>
			<div class="logo_do">
				<img src="img/code_do2.jpg" class="img2"/>
			</div>
			<div class="logo_do">
				<a href="http://www.hiblock.com/app/app-release.apk">
					<img src="img/ar_do.png"/>
				</a>
			</div>
		</article>
	</body>
	<script src="js/bdtj.js"></script>
</html>
